<h1>Welcome to Sweater Weather!</h1>

<h2>Find a list of your available endpoints below:</h2>

<ul>
  <li>GET /api/v1/forecast?location=denver,co</li>
  <li>POST /api/v1/users?email=sample&password=test&password_confirmation=test</li>
  <li>POST /api/v1/sessions?email=sample@email.com&password=test</li>
  <li>POST /api/v1/favorites?location=denver,co&api_key=abc123</li>
  <li>GET /api/v1/favorites?api_key=abc123</li>
  <li>POST /mailers?email=email&location=denver,co</li>
</ul>
